/* body {
  font-family: 'Lato';
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  /* font-family: 'Montserrat'; */
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18BC9C;
}

hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  /* font-family: 'Montserrat'; */
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  /* color: #18BC9C; */
  color: white;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #18BC9C;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #18BC9C;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #18BC9C;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  /* font-family: 'Lato'; */
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}

.portfolio {
  margin-top: 100px;
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  cursor: pointer;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(24, 188, 156, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #18BC9C;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2C3E50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

a {
  color: #18BC9C;
}

a:focus, a:hover, a:active {
   color: #128f76;
  /* color: white; */
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #18BC9C !important;
}

.bg-secondary {
  background-color: #2C3E50 !important;
}

.text-primary {
  color: #18BC9C !important;
}

.text-secondary {
  color: #2C3E50 !important;
}

.btn-primary {
  background-color: yellowgreen;
  border-color: #18BC9C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #128f76;
  border-color: #128f76;
}

.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}



.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: column nowrap;
  
  /* Then we define how is distributed the remaining space */
  /* justify-content: center; */
  /* align-items: center; */
}

.flex-item {
  position: relative;
  /* padding: 5px; */
  width: 60px;
  /* height: 20px; */
  margin-top: 5px;

  /* line-height: 150px; */
  text-align: center;
  
}

@media (min-width: 992px){
  header.masthead {
      padding-top: calc(6rem + 106px);
      padding-bottom: 6rem;
  }
}

@media (min-width: 992px){
  #mainNav.navbar-shrink {
      padding-top: .5rem;
      padding-bottom: .5rem;
  }
}

.bg-primary {
  background-color: #18bc9c!important;
}

.text-white {
  color: #fff!important;
}

.story-image {
  cursor: pointer;
}

.story-row {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center!important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.d-block {
  display: block!important;
}

.mr-auto, .mx-auto {
  margin-right: auto!important;
}

.text-uppercase {
  text-transform: uppercase!important;
}

.mb-0, .my-0 {
  margin-bottom: 0!important;
}

hr.star-dark, hr.star-light {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid .25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.font-weight-light {
  font-weight: 300!important;
}


/* For slider */
.ant-carousel .slick-slide {
  text-align: center;
  height: 20px;
  line-height: 40px;
  background: #45597e;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-modal-footer {
  display: flex;
  justify-content: center;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-menu-item-active {
  background-color: rgba(24, 188, 256, 0.2) !important;
}

.ant-menu-item-active {
  background-color: rgba(24, 188, 256, 0.2) !important;
}

.ant-menu-item-selected {
  background-color: #18bc9c !important;
}


/* slider */
.slider {
  width: 100px;
  height: 100px;
}


/* slider image size */

/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 28px 16px 0;
  float: left;
}

.story-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color:#fff;
}

.story-info {
  height: 40%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.story-desc {
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.story-interaction {
  display: flex;
  height: calc(100% - 41px);
}

.story-input {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.input-top {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-bottom {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-list-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 10px;
}

.story-output {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}



.habit-info {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.habit-notify-msg {
  height: 30px;
  padding: 10px
}

.habit-detail {
  display: flex;
}

.habit-container {
  flex-flow: column nowrap;
  list-style: none;
  padding: 10px;
  margin: 0px;
  flex: auto;
}

.habit-nav-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.habit-item-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.habit-title {
  height: 30px;
  color: #1890ff;
}

.habit-pics {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}

.bad-habit {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 160px;
}

.good-habit {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 160px;
} */